@import url(header.css);
@import url(container-section-company.css);
@import url(container-selected-the.css);
@import url(container-selected-history.css);
@import url(container-selected-testimotial.css);
@import url(container-selected-about-us.css);
@import url(footer.css);




*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}